@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
// font-family: 'Alfa Slab One', cursive;

*{
    padding: 0;
    margin: 0;
}

.section__h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 70px;
    text-transform: capitalize;
    text-align: right;
    margin-left: 10%;
    padding: 3%;
}
.grid-gallery {
    display: grid;
    grid-auto-rows: 200px;
    gap: 1rem;
    grid-auto-flow: row dense;
  }
  
  @media all and (min-width: 320px) {
    .grid-gallery {
      grid-template-columns: (1, 1fr);
    }
  }
  
  @media all and (min-width: 768px) {
    .grid-gallery {
      grid-template-columns: (3, 1fr);
    }
  }
  
  @media all and (min-width: 1024px) {
    .grid-gallery {
      grid-template-columns: (6, 1fr);
    }
  }
  
  .grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1;
  }
  
  .grid-gallery__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  .grid-gallery__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1;
  }
  
  .grid-gallery__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .grid-gallery__item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .grid-gallery__item:nth-child(11n+9) {
    grid-row: span 3;
  }
  
  .grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  $color1: #2c2c2c;
  $color2: #434343 ; 
  $color3: rgb(151, 151, 151); 
  $color4: rgb(230, 230, 230);

  footer {
    background-color: $color1;
    color: $color4;
    bottom: 0;
}


$width: 1024px;

$base-color: $color3;

@for $in from 1 through 3 {
    .j#{$in} {
        background-color: lighten($base-color, $in * 10%);
    }
}

.zoom {
  transition: transform .4s; 
}

.zoom:hover {
  transform: scale(1.02); 
}

.whatsapp {
  position:fixed;
  width:50px;
  height:50px;
  bottom:2px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:30px;
  text-align:center;
  font-size:30px;
  z-index:100;
  margin-bottom: 1%;
}

.whatsapp-icon {
  margin-top:10px;
  
}

.card {
  height: 50;
  transition: transform .4s;
  transform: scale(1.02);
  text-align: left;
  font-size:medium;
  color: $color1;
  
}

.card-body {
  transition: transform .4s;  
}

.card-body:hover {
  transform: scale(0.95); 
}

body {
  background-color: #d1d1d1;
}

h2 {
  padding: 3%;
  text-align: left;
}

.parrafosindex {
  margin: 2%;
  margin-bottom: 5%;
}

.tituoferta {
  margin: 5%;
}

.imagenofert {
  size: 0.02%;
}

h3 {
  margin: 3%;
}

.botonazo {
  margin-bottom:3%;
}